ostest.json
{
  "createdAt": "2024-02-23T16:58:31.616Z",
  "updatedAt": "2024-02-23T16:58:31.616Z",
  "id": "3d8ffa2e-26dc-48",
  "name": "Autonomous Employee — Core Router (Minimal v3)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autonomous-employee-core",
        "responseMode": "lastNode"
      },
      "id": "dd6e315f-7499-4755-b0ac-436d7878e5d0",
      "name": "Webhook (Command In)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -900,
        -160
      ]
    },
    {
      "parameters": {},
      "id": "9c9a4aaf-199b-4c90-952d-71a8fb00e02d",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -900,
        60
      ]
    },
    {
      "parameters": {
        "functionCode": "\nconst text = ($json.text || '').toString();\nconst lower = text.toLowerCase();\nlet lane = 'Docs';\nif (/(schedule|meeting|calendar|availability|book)/.test(lower)) lane = 'Scheduling';\nelse if (/(email|reply|respond|compose|inbox)/.test(lower)) lane = 'Comms';\nelse if (/(proposal|sow|doc|report|slide|deck)/.test(lower)) lane = 'Docs';\nelse if (/(watchlist|rfp|monitor|news|research)/.test(lower)) lane = 'Research';\nelse if (/(security|pentest|seed|key|vuln|scan)/.test(lower)) lane = 'Security';\nelse if (/(crm|lead|pipeline|gohighlevel|contact)/.test(lower)) lane = 'CRM';\nconst risky_action = /(send|delete|invoice|charge|share|invite)/.test(lower);\nconst ok_to_act = $json.ok_to_act ?? false;\nconst approval_ok = ok_to_act || !risky_action;\nreturn [{ text, lane, risky_action, ok_to_act, approval_ok }];\n"
      },
      "id": "18b543a9-251e-4052-9be4-51a6090b09c5",
      "name": "Router (Function)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -600,
        -40
      ]
    },
    {
      "parameters": {
        "value1": "={{$json.lane}}",
        "rules": [
          {
            "operation": "equal",
            "value2": "Comms"
          },
          {
            "operation": "equal",
            "value2": "Scheduling"
          },
          {
            "operation": "equal",
            "value2": "Docs"
          },
          {
            "operation": "equal",
            "value2": "Research"
          },
          {
            "operation": "equal",
            "value2": "Security"
          },
          {
            "operation": "equal",
            "value2": "CRM"
          }
        ]
      },
      "id": "7fba4379-fc93-479c-8ff9-f3cb33919e40",
      "name": "Switch Lane",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -360,
        -40
      ]
    },
    {
      "parameters": {
        "functionCode": "\nreturn [{ \n  lane: 'Comms', \n  approval_ok: $json.approval_ok, \n  risky_action: $json.risky_action, \n  instructions: $json.text,\n  next: {\n    Comms: 'Draft email and send if approval_ok',\n    Scheduling: 'Create 60-min focus block if scheduling intent',\n    Docs: 'Append task to backlog',\n    Research: 'Hit watchlist/RSS and summarize',\n    Security: 'Open security task in your pipeline',\n    CRM: 'Create/Update contact and tag intent'\n  }['Comms']\n}];\n"
      },
      "id": "1c33bc1c-1b66-407b-9a13-cd0b1b7db9d2",
      "name": "Prep: Comms",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -120,
        -160
      ]
    },
    {
      "parameters": {
        "functionCode": "\nreturn [{ \n  lane: 'Scheduling', \n  approval_ok: $json.approval_ok, \n  risky_action: $json.risky_action, \n  instructions: $json.text,\n  next: {\n    Comms: 'Draft email and send if approval_ok',\n    Scheduling: 'Create 60-min focus block if scheduling intent',\n    Docs: 'Append task to backlog',\n    Research: 'Hit watchlist/RSS and summarize',\n    Security: 'Open security task in your pipeline',\n    CRM: 'Create/Update contact and tag intent'\n  }['Scheduling']\n}];\n"
      },
      "id": "1c618892-a4a9-46bf-9d8e-859f66b1888d",
      "name": "Prep: Scheduling",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -120,
        -60
      ]
    },
    {
      "parameters": {
        "functionCode": "\nreturn [{ \n  lane: 'Docs', \n  approval_ok: $json.approval_ok, \n  risky_action: $json.risky_action, \n  instructions: $json.text,\n  next: {\n    Comms: 'Draft email and send if approval_ok',\n    Scheduling: 'Create 60-min focus block if scheduling intent',\n    Docs: 'Append task to backlog',\n    Research: 'Hit watchlist/RSS and summarize',\n    Security: 'Open security task in your pipeline',\n    CRM: 'Create/Update contact and tag intent'\n  }['Docs']\n}];\n"
      },
      "id": "0be1ab2e-6115-4459-be98-015ed1a88f9b",
      "name": "Prep: Docs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -120,
        40
      ]
    },
    {
      "parameters": {
        "functionCode": "\nreturn [{ \n  lane: 'Research', \n  approval_ok: $json.approval_ok, \n  risky_action: $json.risky_action, \n  instructions: $json.text,\n  next: {\n    Comms: 'Draft email and send if approval_ok',\n    Scheduling: 'Create 60-min focus block if scheduling intent',\n    Docs: 'Append task to backlog',\n    Research: 'Hit watchlist/RSS and summarize',\n    Security: 'Open security task in your pipeline',\n    CRM: 'Create/Update contact and tag intent'\n  }['Research']\n}];\n"
      },
      "id": "7be47289-a9bd-4a41-b55a-5b23b037abc1",
      "name": "Prep: Research",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -120,
        140
      ]
    },
    {
      "parameters": {
        "functionCode": "\nreturn [{ \n  lane: 'Security', \n  approval_ok: $json.approval_ok, \n  risky_action: $json.risky_action, \n  instructions: $json.text,\n  next: {\n    Comms: 'Draft email and send if approval_ok',\n    Scheduling: 'Create 60-min focus block if scheduling intent',\n    Docs: 'Append task to backlog',\n    Research: 'Hit watchlist/RSS and summarize',\n    Security: 'Open security task in your pipeline',\n    CRM: 'Create/Update contact and tag intent'\n  }['Security']\n}];\n"
      },
      "id": "8a0520be-7eb6-4a13-b529-5cbfe2703871",
      "name": "Prep: Security",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -120,
        240
      ]
    },
    {
      "parameters": {
        "functionCode": "\nreturn [{ \n  lane: 'CRM', \n  approval_ok: $json.approval_ok, \n  risky_action: $json.risky_action, \n  instructions: $json.text,\n  next: {\n    Comms: 'Draft email and send if approval_ok',\n    Scheduling: 'Create 60-min focus block if scheduling intent',\n    Docs: 'Append task to backlog',\n    Research: 'Hit watchlist/RSS and summarize',\n    Security: 'Open security task in your pipeline',\n    CRM: 'Create/Update contact and tag intent'\n  }['CRM']\n}];\n"
      },
      "id": "602d68cf-9c50-49d7-89fe-22181a5fc437",
      "name": "Prep: CRM",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -120,
        340
      ]
    },
    {
      "parameters": {
        "functionCode": "return [$json];"
      },
      "id": "0c7321d4-1ce5-4278-9d66-d2721d55edb2",
      "name": "Respond (Function)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        140,
        20
      ]
    }
  ],
  "connections": {
    "Webhook (Command In)": {
      "main": [
        [
          {
            "node": "Router (Function)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Router (Function)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router (Function)": {
      "main": [
        [
          {
            "node": "Switch Lane",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Lane": {
      "main": [
        [
          {
            "node": "Prep: Comms",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep: Scheduling",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep: Docs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep: Research",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep: Security",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep: CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep: Comms": {
      "main": [
        [
          {
            "node": "Respond (Function)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep: Scheduling": {
      "main": [
        [
          {
            "node": "Respond (Function)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep: Docs": {
      "main": [
        [
          {
            "node": "Respond (Function)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep: Research": {
      "main": [
        [
          {
            "node": "Respond (Function)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep: Security": {
      "main": [
        [
          {
            "node": "Respond (Function)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep: CRM": {
      "main": [
        [
          {
            "node": "Respond (Function)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2316b36e-e952-4d6e-987c-a3d09298bb2b",
  "triggerCount": 0,
  "tags": []
}
